[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "*"
jupyter = "*"
boto3 = "*"
pandas = "*"
pyarrow = "*"
fastparquet = "*"
pyyaml = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
